* {
  padding: 0;
  margin: 0;
}

.menu-btn {
  position: fixed;
  right: 5%;
  top: 5%;
  z-index: 95;
}

.menu-btn .bar {
  width: 35px;
  height: 3px;
  margin: 5px;
  background: #646464;
  border-radius: 2px;
}

.menu-btn .bar3 {
  width: 25px;
  margin-top: 0;
  float: right;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.menu-btn:hover .bar3 {
  width: 35px;
}

.menu-btn:hover {
  cursor: pointer;
}

.bg {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #c8c8c8;
  display: none;
  opacity: 0;
  z-index: 95;
}

.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  height: 0vh;
  width: 0vw;
  border-radius: 50%;
  background: #646464;
  z-index: 99;
}

.menu ul {
  position: absolute;
  left: 60%;
  top: 10%;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #fff;
}

.menu ul li {
  list-style: none;
  text-transform: uppercase;
}

.menu-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  height: 0vh;
  width: vw;
  border-radius: 50%;
  background: #969696;
  z-index: 98;
}

.mediaIcons {
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  height: 0vh;
  width: 0vw;
  border-radius: 50%;
  color: #fff;
  background: #646464;
  z-index: 99;
}

.mediaIcons-overlay {
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  height: 0vh;
  width: 0vw;
  border-radius: 50%;
  background: #969696;
  z-index: 98;
}

.container-fluid {
  min-height: 100vh;
  padding: 0;
}

.container-fluid .row {
  margin: 0;
  padding: 0;
}

.container-fluid .col-12 {
  padding: 0;
  overflow: hidden;
}

.container-fluid .content {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 310px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'Playfair Display', serif;
}

.container-fluid .content .name {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.container-fluid .content .designation {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.container-fluid .content .btn {
  opacity: 0;
  width: 8.5rem;
  margin: 1rem 1rem 1rem 0;
}

.container-fluid .content .hireMe {
  color: #fff;
  background: #000;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  border: 2px solid #000;
}

.container-fluid .content .hireMe:hover {
  background: #646464;
  border: 2px solid #646464;
}

.container-fluid .content .explore {
  border: 2px solid #000000;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.container-fluid .content .explore:hover {
  background: #646464;
  border: 2px solid #646464;
  color: #fff;
}

.container-fluid .rightBox {
  position: relative;
  height: 100vh;
  width: 100%;
}

.container-fluid .rightBox .box {
  position: absolute;
  height: 60%;
  width: 60%;
  top: 50%;
  left: -50%;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
  border: 15px solid #c8c8c8;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.container-fluid .leftBox {
  position: relative;
  height: 100vh;
  width: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background: #c8c8c8;
  z-index: 1;
  overflow: hidden;
}

.container-fluid .leftBox .leftBoxOverlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: #969696;
  z-index: 10;
}

.container-fluid .leftBox .box {
  position: absolute;
  top: 30%;
  right: -20%;
  height: 50%;
  width: 50%;
  border: 10px solid #fff;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.container-fluid .leftBox .content {
  display: none;
}

.aboutMe {
  min-height: 200vh;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .col-12:first-child {
    display: none;
  }
  .container-fluid .leftBox .content {
    display: block;
    top: 75%;
    left: 65%;
    width: 250px;
  }
  .container-fluid .leftBox .content h1 {
    font-size: 1.8rem;
  }
  .container-fluid .leftBox .content h4 {
    font-size: 1rem;
  }
  .container-fluid .leftBox .content .btn {
    font-size: .8rem;
    width: 7rem;
    margin: 1rem .5rem 1rem 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .col-12:first-child {
    display: none;
  }
  .container-fluid .leftBox .content {
    display: block;
    top: 75%;
    left: 65%;
  }
  .container-fluid .leftBox .content h1 {
    font-size: 2.3rem;
  }
  .container-fluid .leftBox .content h4 {
    font-size: 1.4rem;
  }
  .container-fluid .leftBox .content .btn {
    font-size: .9rem;
    width: 8rem;
    margin: 1rem .5rem 1rem 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/*# sourceMappingURL=main.css.map */