// $lightBg: #68737C;
$lightBg: rgb(200, 200, 200);
$Bg : rgb(150, 150, 150);
$darkBg: rgb(100, 100, 100);


*{
    padding: 0;
    margin: 0;
}


// .navbar-expand-md {
//     position: fixed;
//     width: 100%;
//     margin: 0;
//     padding: 1rem 2rem;
//     z-index: 99;
//     background: rgba(100, 100, 100, 0);

//     .navbar-brand{
//         margin: 0;
//         color: #fff;
//         font-weight: 900;
//     }

//     .navbar-collapse{
//         width: 100%;
//         justify-content: flex-end;
//     }

//     .navbar-nav{
//         width: 50%;
//         justify-content: space-between;

//         a{
//             color: #fff;

//             &:hover{
//                 color: $lightBg;
//             }
//         }
//     }
// }

// button:focus{
//     outline: none;
// }

// .navbar-toggler{
//     padding: 0;
// }

// .toggler-btn{
//     // border: 2px solid #d3325f;
//     padding: 5px;
//     transition: all 1s ease;
// }

// .bar{
//     width: 30px;
//     height: 3px;
//     margin: 5px;
//     background: $darkBg;
//     transition: all 0.5s ease;
// }

// .change .bar1{
//     transform: rotate(-45deg) translate(-4px,6px);
// }

// .change .bar2{
//     opacity: 0;
// }

// .change .bar3{
//     transform: rotate(45deg) translate(-5px,-8px);
// }

.menu-btn{
    position: fixed;
    right: 5%;
    top: 5%;
    z-index: 95;
    .bar{
        width: 35px;
        height: 3px;
        margin: 5px;
        background: $darkBg;
        border-radius: 2px;
    }
    .bar3{
        width: 25px;
        margin-top: 0;
        float: right;
        transition: all .5s ease;
    }
    &:hover .bar3{
        width: 35px;
    }
    &:hover{
        cursor: pointer;
    }
}

.bg{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: $lightBg;
    display: none;
    opacity: 0;
    z-index: 95;
}

.menu{
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translate(-50%,50%);
    height: 0vh;
    width: 0vw;
    border-radius: 50%;
    background: $darkBg;
    z-index: 99;

    ul{
        position: absolute;
        left: 60%;
        top: 10%;
        font-size: 1.5rem;
        font-weight: bolder;
        color: #fff;
        li{
            list-style: none;
            text-transform: uppercase;
        }
    }
}
.menu-overlay{
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translate(-50%,50%);
    height: 0vh;
    width: vw;
    border-radius: 50%;
    background: $Bg;
    z-index: 98;
}
.mediaIcons{
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(50%,-50%);
    height: 0vh;
    width: 0vw;
    border-radius: 50%;
    color: #fff;
    background: $darkBg;
    z-index: 99;
}
.mediaIcons-overlay{
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(50%,-50%);
    height: 0vh;
    width: 0vw;
    border-radius: 50%;
    background: $Bg;
    z-index: 98;
}


.container-fluid{
    min-height: 100vh;
    padding: 0;
    .row{
        margin: 0;
        padding: 0;
    }

    .col-12{
        padding: 0;
        overflow: hidden;
    }

    .content{
        position: absolute;
        top: 40%;
        left: 50%;
        width: 310px;
        transform: translate(-50%,-50%);
        font-family: 'Playfair Display', serif;

        .name{
            opacity: 0;
            transform: translateY(20px);
        }

        .designation{
            opacity: 0;
            transform: translateY(20px);
        }

        .btn{
            opacity: 0;
            width: 8.5rem;
            margin: 1rem 1rem 1rem 0;              
        }
        .hireMe{
            color: #fff;
            background: #000;
            transform: translateY(15px);
            border: 2px solid #000;

            &:hover{
                background: $darkBg;
                border: 2px solid $darkBg;
            } 
        }

        .explore{
            border: 2px solid #000000;
            transform: translateY(15px);  

            &:hover{
                background: $darkBg;
                border: 2px solid $darkBg;
                color: #fff;
            } 
        }
    }

    .rightBox{
        position: relative;
        height: 100vh;
        width: 100%;
        .box{
            position: absolute;
            height: 60%;
            width:60%;
            top: 50%;
            left: -50%;
            transform: translate(-20%,-50%);
            border: 15px solid $lightBg;
            filter: blur(1px);
        }
    }
    .leftBox{
        position: relative;
        height: 100vh;
        width: 100%;
        transform: translateX(-100%);
        background: $lightBg;
        z-index: 1;
        overflow: hidden;

        .leftBoxOverlay{
            position: absolute;
            height: 100vh;
            width: 100%;
            background: $Bg;
            z-index: 10;
        }

        .box{
            position: absolute;
            top: 30%;
            right: -20%;
            height: 50%;
            width: 50%;
            border: 10px solid #fff;
            filter: blur(1px);
        }

        .content{
            display: none;
        }
    }
}


.aboutMe{
    min-height: 200vh;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .col-12:first-child{
        display: none;
    }

    .container-fluid .leftBox .content{
        display: block;
        top: 75%;
        left: 65%;
        width: 250px;
        h1{
            font-size: 1.8rem;
        }

        h4{
            font-size: 1rem;
        }

        .btn{
            font-size: .8rem;
            width: 7rem;
            margin: 1rem .5rem 1rem 0;              
        }
    }
    
} 


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px){
    .col-12:first-child{
        display: none;
    }

    .container-fluid .leftBox .content{
        display: block;
        top: 75%;
        left: 65%;
        // width: 250px;
        h1{
            font-size: 2.3rem;
        }

        h4{
            font-size: 1.4rem;
        }

        .btn{
            font-size: .9rem;
            width: 8rem;
            margin: 1rem .5rem 1rem 0;              
        }
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px){
    
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
   
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}