* {
  padding: 0;
  margin: 0;
}

.navbar-expand-md {
  position: fixed;
  width: 90%;
  margin: 1rem auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 99;
}

.navbar-expand-md .navbar-brand {
  margin: 0;
}

.navbar-expand-md .navbar-collapse {
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-expand-md .navbar-nav {
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

button:focus {
  outline: none;
}

.navbar-toggler {
  padding: 0;
}

.toggler-btn {
  padding: 5px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.bar {
  width: 30px;
  height: 3px;
  margin: 5px;
  background: #74716F;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 6px);
          transform: rotate(-45deg) translate(-4px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -8px);
          transform: rotate(45deg) translate(-5px, -8px);
}

.container-fluid {
  min-height: 100vh;
  padding: 0;
}

.container-fluid .row {
  margin: 0;
  padding: 0;
}

.container-fluid .col-12 {
  padding: 0;
  overflow: hidden;
}

.container-fluid .content {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 310px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'Playfair Display', serif;
}

.container-fluid .content .name {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.container-fluid .content .designation {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.container-fluid .content .btn {
  opacity: 0;
  width: 8.5rem;
  margin: 1rem 1rem 1rem 0;
}

.container-fluid .content .hireMe {
  color: #fff;
  background: #000;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  border: 2px solid #000;
}

.container-fluid .content .hireMe:hover {
  background: gray;
  border: 2px solid gray;
}

.container-fluid .content .explore {
  border: 2px solid #000;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.container-fluid .content .explore:hover {
  background: gray;
  border: 2px solid gray;
  color: #fff;
}

.container-fluid .rightBox {
  position: relative;
  height: 100vh;
  width: 100%;
}

.container-fluid .rightBox .box {
  position: absolute;
  height: 60%;
  width: 60%;
  top: 50%;
  left: -50%;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
  border: 15px solid #ECEAEB;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.container-fluid .leftBox {
  position: relative;
  height: 100vh;
  width: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background: #ECEAEB;
  z-index: 1;
  overflow: hidden;
}

.container-fluid .leftBox .leftBoxOverlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: #D7D5D6;
  z-index: 10;
}

.container-fluid .leftBox .box {
  position: absolute;
  top: 30%;
  right: -20%;
  height: 50%;
  width: 50%;
  border: 10px solid #fff;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.container-fluid .leftBox .content {
  display: none;
}

.aboutMe {
  min-height: 50vh;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .col-12:first-child {
    display: none;
  }
  .container-fluid .leftBox .content {
    display: block;
    top: 75%;
    left: 65%;
    width: 250px;
  }
  .container-fluid .leftBox .content h1 {
    font-size: 1.8rem;
  }
  .container-fluid .leftBox .content h4 {
    font-size: 1rem;
  }
  .container-fluid .leftBox .content .btn {
    font-size: .8rem;
    width: 7rem;
    margin: 1rem .5rem 1rem 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .col-12:first-child {
    display: none;
  }
  .container-fluid .leftBox .content {
    display: block;
    top: 75%;
    left: 65%;
  }
  .container-fluid .leftBox .content h1 {
    font-size: 2.3rem;
  }
  .container-fluid .leftBox .content h4 {
    font-size: 1.4rem;
  }
  .container-fluid .leftBox .content .btn {
    font-size: .9rem;
    width: 8rem;
    margin: 1rem .5rem 1rem 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-expand-md .navbar-nav {
    width: 60%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .navbar-expand-md .navbar-nav {
    width: 55%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/*# sourceMappingURL=main.css.map */